*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
}

:root {
    --bg-color: #0f0e0e;
    --text-color: #ffffffdd;

    /* padding variables */
    --nav-padding: 1rem 2rem;
    --section-padding: 1rem 2rem;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

main {
    height: 100%;
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--nav-padding);
}

section {
    padding: var(--section-padding);
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    gap: 15px;
}

section .task-column {
    flex-grow: 1;
    background-color: rgb(24, 24, 24);
    padding: 0.6rem 1rem;
    border-radius: 1rem;
}

section .task-column .heading {
    display: flex;
    justify-content: space-between;
}

section .task-column .task {
    margin-top: 1rem;
    cursor: grab;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    background-color: #252424;
    border-radius: 1rem;
    padding: 0.5rem 0.8rem;
}

section .task-column .task .delete {
    width: fit-content;
    align-self: flex-end;
    padding: 0.2rem 0.5rem;
    border: none;
    outline: none;
    border-radius: 0.5rem;
    background-color: #f14242;
    color: white;
}